
<h1 id="tableLabel">Planets of this Solar System</h1>
<!--
<p *ngIf="!SSWithPlanets"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="SSWithPlanets">
  <thead>
    <tr>
      <th>Solar System</th>
      <th>Planet</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let SSWithPlanet of SSWithPlanets">
      <tr *ngFor="let planetName of SSWithPlanet.planetList">
      </tr>
    </ng-container>
  </tbody>
</table>
<a routerLink="/solar-systems"> Go back to Solar Systems </a>

-->
