<h1>This is my Hompage!</h1>
<p>There will be a database of solar systems and their exoplanets. </p>
<p>There are many solar systems that exist and each one may or may not have any number of exoplanets.</p>
<button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
<button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
<ul>
  <li>Many solar systems exist in our galaxy</li>
  <li>Any solar system can have any number of exoplanets</li>
</ul>

<!--<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->
<!--<h2>HTML Image</h2>
<img src="exoplanetpic.jpg" alt="Exoplanet" width="500" height="333">-->
